# Dependencies
node_modules/

# Build output
dist/

# Logs
*.log
npm-debug.log*

#Local environment files
*.local

# VS Code
.vscode
!.vscode/extensions.json

# macOS
.DS_Store
.DS_Store?
._*

# Python virtual environment
.venv/
*.venv/

# Python cache
__pycache__/
*.py[cod]

# Python testing and coverage
.pytest_cache/
.coverage
htmlcov/
