# Dependencies
node_modules/

# Build output
dist/

# Logs
*.log
npm-debug.log*

#Local environment files
*.local

# VS Code
.vscode
!.vscode/extensions.json

# macOS
.DS_Store

# Python virtual environment
.venv/
*.venv/
